# Logs
logs
*.log

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

citc-specific/
citc-venv
home-venv
__pycache__
.ruff_cache
updates
build/*

middleware.db
*.db

pyinstaller-README.txt
pyinstaller-script.py
pyinstaller-script.spec

